---
interface Props {
  question: string;
  choices: Array<string>;
}

const { question, choices } = Astro.props;
const selected = undefined;
---

<div class="bg-slate-200 p-8 text-slate-900 rounded-3xl">
  <h2 class="text-2xl font-bold">{question}</h2>
  <div class="flex-column">
    {
      choices.map((choice) => (
        <div class="flex-row p-0.5">
          <input type="radio" id={choice} name="choice" value={choice} />
          <label for={choice} class="">
            {choice}
          </label>
        </div>
      ))
    }
  </div>
</div>
