---
interface Props {
  question: String;
  choice_a: String;
  choice_b: String;
  choice_c: String;
  choice_d: String;
}

const { question, choice_a, choice_b, choice_c, choice_d } = Astro.props;
---

<div class="">
  <h2>{question}</h2>
  <div class="flex-column">
    <div>{choice_a}</div>
    <div>{choice_b}</div>
    <div>{choice_c}</div>
    <div>{choice_d}</div>
  </div>
</div>
